<div id="style-1" style="background-color: rgb(255, 255, 255); height: 510px; overflow: auto; margin: 30px 0px; padding: 0px 30px 20px 0px; border: 1px solid rgb(223, 223, 223); --darkreader-inline-bgcolor: #181a1b; --darkreader-inline-border-top: #393e40; --darkreader-inline-border-right: #393e40; --darkreader-inline-border-bottom: #393e40; --darkreader-inline-border-left: #393e40;" data-darkreader-inline-bgcolor="" data-darkreader-inline-border-top="" data-darkreader-inline-border-right="" data-darkreader-inline-border-bottom="" data-darkreader-inline-border-left="">

    <div class="col-xs-6">

        <table class="historical_data_table table">
            <thead>
            <tr>
                <th colspan="2" style="text-align:center">McDonald's Annual Revenue<br><span style="font-size:14px;">(Millions of US $)</span></th>
            </tr>
            </thead>
            <tbody>


            <tr>
                <td style="text-align:center">2022</td>



                <td style="text-align:center">$23,183</td>


            </tr>


            <tr>
                <td style="text-align:center">2021</td>



                <td style="text-align:center">$23,223</td>


            </tr>


            <tr>
                <td style="text-align:center">2020</td>



                <td style="text-align:center">$19,208</td>


            </tr>


            <tr>
                <td style="text-align:center">2019</td>



                <td style="text-align:center">$21,364</td>


            </tr>


            <tr>
                <td style="text-align:center">2018</td>



                <td style="text-align:center">$21,258</td>


            </tr>


            <tr>
                <td style="text-align:center">2017</td>



                <td style="text-align:center">$22,820</td>


            </tr>


            <tr>
                <td style="text-align:center">2016</td>



                <td style="text-align:center">$24,622</td>


            </tr>


            <tr>
                <td style="text-align:center">2015</td>



                <td style="text-align:center">$25,413</td>


            </tr>


            <tr>
                <td style="text-align:center">2014</td>



                <td style="text-align:center">$27,441</td>


            </tr>


            <tr>
                <td style="text-align:center">2013</td>



                <td style="text-align:center">$28,106</td>


            </tr>


            <tr>
                <td style="text-align:center">2012</td>



                <td style="text-align:center">$27,567</td>


            </tr>


            <tr>
                <td style="text-align:center">2011</td>



                <td style="text-align:center">$27,006</td>


            </tr>


            <tr>
                <td style="text-align:center">2010</td>



                <td style="text-align:center">$24,075</td>


            </tr>


            <tr>
                <td style="text-align:center">2009</td>



                <td style="text-align:center">$22,745</td>


            </tr>


            </tbody>
        </table>

    </div>

    <div class="col-xs-6">

        <table class="historical_data_table table">
            <thead>
            <tr>
                <th colspan="2" style="text-align:center">McDonald's Quarterly Revenue<br><span style="font-size:14px;">(Millions of US $)</span></th>
            </tr>
            </thead>
            <tbody>


            <tr>
                <td style="text-align:center">2023-03-31</td>





                <td style="text-align:center">$5,898</td>



            </tr>


            <tr>
                <td style="text-align:center">2022-12-31</td>





                <td style="text-align:center">$5,927</td>



            </tr>


            <tr>
                <td style="text-align:center">2022-09-30</td>





                <td style="text-align:center">$5,872</td>



            </tr>


            <tr>
                <td style="text-align:center">2022-06-30</td>





                <td style="text-align:center">$5,718</td>



            </tr>


            <tr>
                <td style="text-align:center">2022-03-31</td>





                <td style="text-align:center">$5,666</td>



            </tr>


            <tr>
                <td style="text-align:center">2021-12-31</td>





                <td style="text-align:center">$6,009</td>



            </tr>


            <tr>
                <td style="text-align:center">2021-09-30</td>





                <td style="text-align:center">$6,201</td>



            </tr>


            <tr>
                <td style="text-align:center">2021-06-30</td>





                <td style="text-align:center">$5,888</td>



            </tr>


            <tr>
                <td style="text-align:center">2021-03-31</td>





                <td style="text-align:center">$5,125</td>



            </tr>


            <tr>
                <td style="text-align:center">2020-12-31</td>





                <td style="text-align:center">$5,314</td>



            </tr>


            <tr>
                <td style="text-align:center">2020-09-30</td>





                <td style="text-align:center">$5,418</td>



            </tr>


            <tr>
                <td style="text-align:center">2020-06-30</td>





                <td style="text-align:center">$3,762</td>



            </tr>


            <tr>
                <td style="text-align:center">2020-03-31</td>





                <td style="text-align:center">$4,714</td>



            </tr>


            <tr>
                <td style="text-align:center">2019-12-31</td>





                <td style="text-align:center">$5,428</td>



            </tr>


            <tr>
                <td style="text-align:center">2019-09-30</td>





                <td style="text-align:center">$5,502</td>



            </tr>


            <tr>
                <td style="text-align:center">2019-06-30</td>





                <td style="text-align:center">$5,410</td>



            </tr>


            <tr>
                <td style="text-align:center">2019-03-31</td>





                <td style="text-align:center">$5,024</td>



            </tr>


            <tr>
                <td style="text-align:center">2018-12-31</td>





                <td style="text-align:center">$5,396</td>



            </tr>


            <tr>
                <td style="text-align:center">2018-09-30</td>





                <td style="text-align:center">$5,369</td>



            </tr>


            <tr>
                <td style="text-align:center">2018-06-30</td>





                <td style="text-align:center">$5,354</td>



            </tr>


            <tr>
                <td style="text-align:center">2018-03-31</td>





                <td style="text-align:center">$5,139</td>



            </tr>


            <tr>
                <td style="text-align:center">2017-12-31</td>





                <td style="text-align:center">$5,340</td>



            </tr>


            <tr>
                <td style="text-align:center">2017-09-30</td>





                <td style="text-align:center">$5,755</td>



            </tr>


            <tr>
                <td style="text-align:center">2017-06-30</td>





                <td style="text-align:center">$6,050</td>



            </tr>


            <tr>
                <td style="text-align:center">2017-03-31</td>





                <td style="text-align:center">$5,676</td>



            </tr>


            <tr>
                <td style="text-align:center">2016-12-31</td>





                <td style="text-align:center">$6,029</td>



            </tr>


            <tr>
                <td style="text-align:center">2016-09-30</td>





                <td style="text-align:center">$6,424</td>



            </tr>


            <tr>
                <td style="text-align:center">2016-06-30</td>





                <td style="text-align:center">$6,265</td>



            </tr>


            <tr>
                <td style="text-align:center">2016-03-31</td>





                <td style="text-align:center">$5,904</td>



            </tr>


            <tr>
                <td style="text-align:center">2015-12-31</td>





                <td style="text-align:center">$6,341</td>



            </tr>


            <tr>
                <td style="text-align:center">2015-09-30</td>





                <td style="text-align:center">$6,615</td>



            </tr>


            <tr>
                <td style="text-align:center">2015-06-30</td>





                <td style="text-align:center">$6,498</td>



            </tr>


            <tr>
                <td style="text-align:center">2015-03-31</td>





                <td style="text-align:center">$5,959</td>



            </tr>


            <tr>
                <td style="text-align:center">2014-12-31</td>





                <td style="text-align:center">$6,572</td>



            </tr>


            <tr>
                <td style="text-align:center">2014-09-30</td>





                <td style="text-align:center">$6,987</td>



            </tr>


            <tr>
                <td style="text-align:center">2014-06-30</td>





                <td style="text-align:center">$7,182</td>



            </tr>


            <tr>
                <td style="text-align:center">2014-03-31</td>





                <td style="text-align:center">$6,700</td>



            </tr>


            <tr>
                <td style="text-align:center">2013-12-31</td>





                <td style="text-align:center">$7,093</td>



            </tr>


            <tr>
                <td style="text-align:center">2013-09-30</td>





                <td style="text-align:center">$7,323</td>



            </tr>


            <tr>
                <td style="text-align:center">2013-06-30</td>





                <td style="text-align:center">$7,084</td>



            </tr>


            <tr>
                <td style="text-align:center">2013-03-31</td>





                <td style="text-align:center">$6,605</td>



            </tr>


            <tr>
                <td style="text-align:center">2012-12-31</td>





                <td style="text-align:center">$6,952</td>



            </tr>


            <tr>
                <td style="text-align:center">2012-09-30</td>





                <td style="text-align:center">$7,152</td>



            </tr>


            <tr>
                <td style="text-align:center">2012-06-30</td>





                <td style="text-align:center">$6,916</td>



            </tr>


            <tr>
                <td style="text-align:center">2012-03-31</td>





                <td style="text-align:center">$6,547</td>



            </tr>


            <tr>
                <td style="text-align:center">2011-12-31</td>





                <td style="text-align:center">$6,823</td>



            </tr>


            <tr>
                <td style="text-align:center">2011-09-30</td>





                <td style="text-align:center">$7,166</td>



            </tr>


            <tr>
                <td style="text-align:center">2011-06-30</td>





                <td style="text-align:center">$6,905</td>



            </tr>


            <tr>
                <td style="text-align:center">2011-03-31</td>





                <td style="text-align:center">$6,112</td>



            </tr>


            <tr>
                <td style="text-align:center">2010-12-31</td>





                <td style="text-align:center">$6,214</td>



            </tr>


            <tr>
                <td style="text-align:center">2010-09-30</td>





                <td style="text-align:center">$6,305</td>



            </tr>


            <tr>
                <td style="text-align:center">2010-06-30</td>





                <td style="text-align:center">$5,946</td>



            </tr>


            <tr>
                <td style="text-align:center">2010-03-31</td>





                <td style="text-align:center">$5,610</td>



            </tr>


            <tr>
                <td style="text-align:center">2009-12-31</td>





                <td style="text-align:center">$5,973</td>



            </tr>


            <tr>
                <td style="text-align:center">2009-09-30</td>





                <td style="text-align:center">$6,047</td>



            </tr>


            <tr>
                <td style="text-align:center">2009-06-30</td>





                <td style="text-align:center">$5,647</td>



            </tr>


            <tr>
                <td style="text-align:center">2009-03-31</td>





                <td style="text-align:center">$5,077</td>



            </tr>


            </tbody>
        </table>

    </div>



</div>
